.banner {
    background: url("https://static2.mansionglobal.com/production/media/article-images/4b9af2424c2328bf3782855a87fef473/large_B3-EN112_Garage_IM_20190717123019.jpg") center center;
    position: relative;
    height: 100vh;
}

.banner_container {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    width: 50%;
    height: 100%;
}

.banner_info {
    padding-top: 10%;
}

.landing_icon{
    width: 100%;
    padding-bottom: 10%;
}

.banner_search {
    display: flex;
    flex-direction: column;
}

.banner_text {
    padding-bottom: 20px;
}
