body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ListingsAndMap {
  display: flex;
  justify-content: space-between;
}

.map-div {
  width: 60%;
  height: 90%;
  position: fixed;
  left: 40%;
}

.map-container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.listingItem {
  width: 100%;
}

.listingItem:hover {
  border: 1mm ridge #97a6ec;
}