.ListingPage {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.booking {
    width: 35%;
    margin: auto;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.descriptions {
    width: 55%;
    margin: auto;
    margin-top: 20px;
}

.belowImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
   max-width: 100%;
   min-width: 100%;
   height: auto;
}