.ListingPage {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.booking {
    width: 35%;
    margin: auto;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.descriptions {
    width: 55%;
    margin: auto;
    margin-top: 20px;
}

.belowImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img {
   max-width: 100%;
   min-width: 100%;
   height: auto;
}

.img_logo_icon{
    object-fit: contain;
    height: 100%;
    margin-left: 2%;
    min-width: auto !important;
}

.reviewBox{
    float: left;

}

.reviewsAndSubmitReview {
    margin-top: 50px;
    margin-left: 20px;
}

.userReviews{
    display: block;
    float: left;
    margin-right: 20px;
}